*.pyc
*.pyo
*.pyd


dist/

src/equivit.egg-info/
build/

__pycache__/


.pytest_cache/

.vscode/

experiments/outputs
experiments/mlruns
experiments/wandb
experiments/lightning_logs
experiments/env.sh
experiments/logs
