/* Target the DARK theme with higher specificity than Furo's defaults */
html[data-theme="dark"] {
    /* Brand Colors */
    --color-brand-primary: #89b4fa !important;
    --color-brand-content: #cba6f7 !important;
    
    /* Backgrounds */
    --color-background-primary: #04ff00 !important;
    --color-background-secondary: #181825 !important;
}

/* Target the LIGHT theme */
html[data-theme="light"] {
    --color-brand-primary: #1e66f5 !important;
    --color-brand-content: #8839ef !important;
    
    --color-background-primary: #eff1f5 !important;
}